.bo1 {
    width: 100px;
    height: 100px;
    position: relative;
}

.bo1 .lop1 {
    width: 100px;
    height: 100px;
}

.bo1 .lop2 {
    width: 100px;
    height: 100px;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.bo1:hover .lop2 {
    opacity: 0.4;
}

.bo1 .lop3 {
    color: rgb(210, 208, 208);
    font-size: 30px;
    position: absolute;
    top: 31px;
    left: 38px;
    opacity: 0;
    transition: 0.4s;
    /*thoi gian xuat hien*/
    transform: scale(0);
}

.bo1:hover .lop3 {
    opacity: 1;
    transform: scale(1);
}


/**************************************/